nav {
	width: 100%;
	min-height: 36px;
	background-color: lightblue;
	text-align: center;
	position: fixed;
	top: 0;
	left: 0;
}

nav li {
	display:inline-block;
	list-style: none;
	padding: 10px 30px;
}

nav a {
	text-decoration: none;
}

section {
	height: 600px;
	padding-top: 40px;
	background-size: cover;
	background-attachment: fixed;
}

#box1 {
	position: fixed;
	bottom: 10px;
	left: 10px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box2 {
	position: fixed;
	bottom: -1010px;
	left: 40px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box3 {
	position: fixed;
	bottom: -110px;
	left: 70px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box4 {
	position: fixed;
	bottom: -110px;
	right: 70px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box5 {
	position: fixed;
	bottom: -110px;
	right: 70px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box6 {
	position: fixed;
	bottom: -110px;
	right: 70px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box7 {
	position: fixed;
	top: -110px;
	left: 70px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box8 {
	position: fixed;
	top: -110px;
	left: 70px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#box9 {
	position: fixed;
	top: -110px;
	left: 70px;
	height: 50px;
	width: 50px;
	background-color: white;
	border: 1px solid black;
}

#home {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/summer.jpg);
}

#about {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/autumn.jpg);
}

#resume {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/winter.jpg);
}

#projects {
	background-image: url(http://markdalgleish.com/projects/stellar.js/demos/images/spring.jpg);
}

.current a {
	text-decoration: underline;
}

#menu-icon {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
}

@media (max-width: 768px) {
	nav ul {
		display: none;
	}

	nav li {
		display: block;
	}

	#menu-icon {
		display: block;
	}
}